<p>Hola {{ name }},</p>
<p>
    Has realizado una solicitud de cambio de contraseña.
    Para recuperar la contraseña escribe el siguiente código: <strong>{{ code }}</strong>
</p>

<p>Si no solicitó este correo electrónico, puede ignorarlo con seguridad.</p>