<p>Hola {{ name }},</p>
<p>
  Para verificar tu cuenta, entra al siguiente : <strong><a href={{ url }}>link</a></strong>
</p>

<p>Si no solicitó este correo electrónico, puede ignorarlo con seguridad.</p>